 :root{
    --primary-color:#021366; ;
    --bg-color:#f98b8b;
    --secondary-color:#dccece;
    --third-color:#e80c7d;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c;
    --white-color: #fdf5ef;
    --primary-font:'Nunito', sans-serif;
    --secondary-font: 'Philosopher", sans-serif';
     }



 *{ padding: 0;
    margin: 0;
 }

 body, html{
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    height: 100vh;
   
}
 
 a{
    text-decoration: none;
    color: var(--white-color);
 } 


h1{
    color: var(--white-color);
    font-size: 2.5rem;
 }

h2{
    color: var(--white-color);
    font-size: 1.5rem;
}





header {
    background-color:var(--primary-color); 
    margin: 0;
    flex-direction: column;
    row-gap: 20px;
  
  }

 
      

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}


nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-align: right;
    }

    nav ul li {
        display: inline-block;
        }
    
    nav ul li :first-child{
            margin-left: 0;
    }
    
    nav ul li :last-child{
        margin-right: 2vw;
    }
        
    nav ul li a, nav>a{
            display: block; /* convierte los elementos de lina a bloque en el menu */
            padding: 10px 20px;
            text-decoration: none;
            color: var(--secondary-color);
            transition: background-color 0.3s ;
    }

nav ul li a:hover {
    background-color: var(--third-color);
    color: var(--white-color);
    }
    

 #logo{
 padding-left: 10vh;
 padding-top: 1.5vh;

    }

 



body{
    background-color: var(--bg-color);
    font-family: var(--primary-font);
}

.d-flex {
    height: 75vh; /*alto*/
    box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-image: url(..//img/Chequeo-Medico-1.webp);
    background-size: cover;
    background-position: center;
 
}

.d-flex h1{    
    font-size: 2rem;
    color: var(--white-color);
    transition: background-color 0.3s;
    border: none;
    top: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  
}

.d-flex h2{    
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--white-color);
    transition: background-color 0.3s;
    border: none;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: var(--secondary-font);
  
}


.btn-register{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: background-color 0.3s;
    border: none;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  
}

.btn-register:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.container-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    background-color: var(--primary-color);
    font-size: 3rem;
}

.input-search{
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #f1f3f6;
    color: black;
    border: none;
    cursor: pointer;
    width: 30vw;
}

.button-search {
    padding: 8px 15px;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
    &:hover {
        background-color: #9f3647;
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
  }

.noticias{
    background-color: var(--primary-color);

}


.noticias h2 {
    text-align: center;
}

.noticias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color:var(--primary-color);
}
.noticia {
    width: calc(50% - 10px); /* Calcula el ancho para 2 noticias por fila */
    margin-bottom: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.noticia img {
    width: 100%;
    height: auto;
}
.noticia-texto {
    padding: 10px;
    background-color: beige ;
}





.footer {
    background-color:var(--primary-color); 
    margin: 0;
    flex-direction: column;
    row-gap: 20px;
    
  }

      

.footer a {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 2vw;
    padding: 0;
    list-style-type: none; 
    text-align: center;
    display: inline-block;
}

.w3-container{
    background-color: var(--primary-color);
}

.w3-container h2 {
align-items: center;
color: var(--secondary-color);
}


.obras_sociales{
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom:60px;
   
.titulo_os{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
        color: #f1f3f6;
    }
  
    .obras{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 0px 40px 0px;
        .obras_logos{
            border-radius: 25px;
            width: 170px;
            min-width: 170px;
            font-size: 20px;
            cursor: pointer;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
            .obras_img{
                border-radius: 5%;
                width: 95%;
                height: 95%;
                object-fit: cover;
            }
            
        }
       
    
    }
}

