/* creado por diego pineda */
:root{
    --primary-color:#021366; ;
    --bg-color:#f98b8b;
    --secondary-color:#dccece;
    --third-color:#e80c7d;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c;
    --white-color: #fdf5ef;
    --primary-font:'Nunito', sans-serif;
    --secondary-font: 'Philosopher", sans-serif';
     }


     *{ padding: 0;
        margin: 0;
     }
    
     body, html{
        font-family: var(--primary-font);
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: var(--secondary-color);
       
    }
     
    a{
        text-decoration: none;
        color: var(--secondary-color);
     } 
    
    
    h1{
        color: var(--white-color);
        font-size: 2.5rem;
     }
    
    h2{
        color: black;
        text-align: center;
        font-size: 1.5rem;
    }
    
    /* control del header*/
    /*para copiar el header deben copiar esto y del indel
    los script abajo del footer y el style de bootstrap
    */
    .container-fluid{
        background-color: var(--primary-color);
    }

    
    .d-flex {
        height: 70vh; /*alto*/
        box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        background-image: url(..//img/Chequeo-Medico-1.webp);
        background-size: cover;
        background-position: center;
     
    }
    
    .d-flex h1{    
        font-size: 2rem;
        color: var(--white-color);
        transition: background-color 0.3s;
        border: none;
        top: 15%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      
    }
    
    .d-flex h2{    
        padding: 10px 20px;
        font-size: 1rem;
        color: var(--white-color);
        transition: background-color 0.3s;
        border: none;
        top: 30%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        font-family: var(--secondary-font);
      
    }
    
    
    .btn-register{
        padding: 10px 20px;
        font-size: 1rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        transition: background-color 0.3s;
        border: none;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      
    }
    
    .btn-register:hover{
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
    
    .container-search {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
        background-color: var(--primary-color);
        font-size: 3rem;
    }
    .container-search h2{
        color: var(--white-color);
    }
    .container{
        background-color: var(--secondary-color);
    }

    .input-search{
        padding: 8px 15px;
        border-radius: 5px;
        background-color: #f1f3f6;
        color: black;
        border: none;
        cursor: pointer;
        width: 30vw;
        height: 5vh;
        font-size: 1.5rem;
    }
    
    .button-search {
        padding: 8px 15px;
        border-radius: 25px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: large;
        &:hover {
            background-color: #9f3647;
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        }
      }
    
    
    .w3-container h2 {
        text-align: center;
        color: var(--white-color);
    }
    
    
    
    .footer {
        background-color:var(--primary-color); 
        margin: 0;
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
        
      }
    
          
    
    .footer a {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin: 2vw;
        padding: 0;
        list-style-type: none; 
        text-align: center;
        display: inline-block;
        color: var(--white-color);
    }
    
    .w3-container{
        background-color: var(--primary-color);
    }
    
    .w3-container h2 {
    align-items: center;
    color: var(--white-color);
    }

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.terms {
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
}

.terms ul {
    padding-left: 20px;
}

.terms button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.terms button:hover {
    background-color: #45a049;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    &:hover{
        animation: tilt-n-move-shaking 0.25s infinite;
}
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}