<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/preguntas.css">
    <title>Preguntas Frecuentes - Java-CAC</title>
</head>
<body>
    <header class="header">
        <nav>
            <div id="logo">
                <a href="/">
                    <img src="../static/img/logo.png" alt="logo">
                    <i class="logo"></i>
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="Nuestros_servicios.html">Nuestros Servicios</a></li>
                <li><a href="../templates/sanatorios.html" class="btn-nav">Sanatorios</a></li>
                <li><a href="#"> <span class="login-text"><i class="far fa-circle-user"></i>Iniciar Sesión</span></a></li>
            </ul>
        </nav>
    </header>

    <div class="container2">
        <h1>¿En qué podemos ayudarte?</h1>
        <div class="search-container">
            <input type="text" placeholder="Describe el problema...">
            <button type="button">Buscar</button>
        </div>
    </div>

    <div class="faq-container">
        <h1>Preguntas Frecuentes</h1>
        <div class="faq-item">
            <a href="#question1" class="question">¿Qué es Java-CAC?<i class="fas fa-caret-right"></i></a>
            <div id="question1" class="answer">
                <p>Java-CAC es una obra social que ofrece servicios de salud y bienestar a sus afiliados.</p>
            </div>
        </div>
        <div class="faq-item">
            <a href="#question2" class="question">¿Cómo puedo afiliarme a Java-CAC?<i class="fas fa-caret-right"></i></a>
            <div id="question2" class="answer">
                <p>Puede afiliarse a Java-CAC visitando nuestras oficinas centrales o completando el formulario de afiliación en línea en nuestro sitio web.</p>
            </div>
        </div>
        <div class="faq-item">
            <a href="#question3" class="question">¿Cuáles son los beneficios de ser afiliado a Java-CAC?<i class="fas fa-caret-right"></i></a>
            <div id="question3" class="answer">
                <p>Los afiliados a Java-CAC tienen acceso a una amplia gama de servicios médicos, programas de bienestar y descuentos en farmacias y establecimientos de salud asociados.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <a href="./templates/terminos.html">Términos y condiciones</a>
        <a href="./templates/preguntas.html">Preguntas Frecuentes</a>
        <a href="#">Ayuda</a>
    </footer>
</body>
</html>