<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cac-Movies, peliculas y series online</title>
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />
        
        <script src="https://kit.fontawesome.com/fa04600604.js" crossorigin="anonymous"  ></script>
    
      </head> 
<body>
  <header>
    <nav>
      <a href="../index.html">🎞️CAC-Movies</a>
    </nav>
  </header>

  <main>
<section id="form-wrapper">
  <form action="#" method="post" novalidate id="form-register">    
      <h2>Registro</h2>
        <div class="form-control">
          <label for="Name">Nombre</label>
          <input type="text" name="Name" required id="name">
        </div>
        <div class="form-control">
          <label for="last-name">Apellido</label>
          <input type="text" name="last-name" required id="last-name">
        </div>
        <div class="form-control">
          <label for="email">Email</label>
          <input type="email" name="Name" required id="email">
        </div>
        <div class="form-control">
          <label for="passw">Contraseña</label>
          <input type="password" name="passw" required id="passw">
        </div>
        <div class="form-control">
          <label for="date">Fecha de Nacimiento</label>
          <input type="date" name="date" required id="date">
        </div>
        <div class="form-control">
          <select name="country" id="country" class="form-select">
          <option value="">Pais</option>
          <option value="AR">ARGENTINA</option>
          <option value="BO">BOLIVIA</option>
          <option value="PY">PARAGUAY</option>
        </div>
      </select>
      <div class="form-terms">
        <div class="terms">
          <input type="checkbox" id="terms" required>
          <label>Acepto terminos y condiciones</label>
        </div>
      </div>
      <button type="submit"><i class="fa-solid fa-film"></i>&nbsp;Registrate</button>
      <button type="Reset">Borrar todo</button>
      <div class="form-help">
        <a href="#">¿Necesitas ayuda?</a>
      </div>

    </form>
</section>

  </main>

  <footer>
    <a href="#">Terminos y condiciones</a></h4>  &nbsp; &nbsp;
    <a href="#">Preguntas frecuentes</a></h4>  &nbsp; &nbsp;
    <a href="#">Ayuda</a></h4>  &nbsp; &nbsp;
    <a href="#">Administrador de peliculas</a>
  </footer>
</body>

</html>