<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sanatorio Codo a Codo</title>
        <link rel="icon" href="../favicon.ico" type="image/x-icon">
        <script src="https://kit.fontawesome.com/fa04600604.js" srossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/style_register.css">
    </head>
    <body>
        <header>
            <nav>
                <!-- logo de la pagina -->
                <div id="logo">
                  <a href="/">
                        <img src="../static/img/logo.png" alt="logo">
                      <i class="logo"></i>
                  </a>
                </div>
    
                <!-- hipervínculos del menú -->
                <ul class="nav-links">
                    <li><a href="Nuestros_servicios.html">Nuestros Servicios</a></li>
                    <li><a href="./templates/sanatorios.html" class="btn-nav">Sanatorios</a></li>
                    <li><a href="#"> <span class="login-text"><i class="fa-regular fa-circle-user"></i>Iniciar Sesión</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Formulario -->
            
            <section id="form-wrapper" class="d-flex">
                
                <form action="#" method="post" novalidate id="form-register">
                    <h3>¡Bienvenidos a Sanatorio Codo a Codo!</h3>
                    <p class="register">Registro</p>
                    <!-- Campos -->
                    <div class="form-control">
                        
                        <input type="text" name="name" required id="name" placeholder="Nombre">
                    </div>
                    <div class="form-control">
                        
                        <input type="text" name="last-name" required id="last-name" placeholder="Apellido">
                    </div>
                    <div class="form-control">
                        
                        <input type="email" name="email" required id="email" placeholder="Email">
                    </div>
                    <div class="form-control">
                        
                        <input type="password" name="passw" required id="passw" placeholder="Contraseña">
                    </div>
                    <div class="form-control">
                        
                        <input type="password" name="passw" required id="passw" placeholder="Confirmar Contraseña">
                    </div>

                    <div class="form-control">
                        
                        <input type="text" name="phone" required id="phone" placeholder="telefono">
                    </div>

                    <div class="form-control">
                        <label for="date">Fecha de nacimiento</label>
                        <input type="date" name="date" required id="date" >
                    </div>
                   

                    <div class="form-control">
                        <select name="genero" id="genero" class="form-select">
                            <option value="">Genero</option>
                            <option value="IN">Indefinido</option>
                            <option value="MU">Mujer</option>
                            <option value="HO">Hombre</option>
                        </select>
                    </div>
                    
                    
                    
                    <!-- boton de la accion -->
                    <div>
                        <button type="submit">Registrate</button>
                        <button type="reset">Borrar todo</button>
                    </div>
                    
                    
                    
                    <!-- zona de ayuda -->
                    <div class="form-help">
                        <a href="#">¿Necesitas ayuda?</a>
                    </div>
                    
                </form>
            </section>
            <aside>
                <img src="../static/img/registro_ingresar.jpg" alt="img registro">
            </aside>
            
        </main>
        <footer class="footer">
            <a href="#">Términos y condiciones</a>
            <a href="#">Preguntas frecuentes</a>
            <a href="#">Ayuda</a>
            
        </footer>
        <!-- este codigo genera espacios en blanco para generar una separación=> &nbsp; -->
        
    </body>
</html>
