<!-- creado por diego pineda -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Sanatorios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> <!-- bootstrap -->
    <link rel="stylesheet" href="../static/css/sanatorios.css">
</head>
<body>
    <body>
        <header>
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="..//index.html">Codo a Codo</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><a href="./noticias.html">Noticias API</a></li>
                  <li><a href="./sanatorios.html">Sanatorios</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="./register.html"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
                  <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
    <div class="container">
        <h1>Lista de Sanatorios</h1>
        <div class="sanatorio">
            <div class="info">
                <h3>Sanatorio Los Robles</h3>
                <p>Dirección: Av. Libertador 1234, Ciudad Autónoma de Buenos Aires</p>
                <p>Teléfono: (011) 1234-5678</p>
                <p>Horario: Lunes a Viernes de 8:00 a 18:00</p>
            </div>
            <div class="imagen">
                <img src="../static/img/sanatorio1.jpg" alt="Sanatorio Los Robles">
            </div>
        </div>
        <div class="sanatorio">
            <div class="info">
                <h3>Sanatorio Santa Rosa</h3>
                <p>Dirección: Calle 25 de Mayo 567, Rosario, Santa Fe</p>
                <p>Teléfono: (0341) 9876-5432</p>
                <p>Horario: Lunes a Domingo de 7:00 a 22:00</p>
            </div>
            <div class="imagen">
                <img src="../static/img/sanatorio2.jpg" alt="Sanatorio Santa Rosa">
            </div>
        </div>
        <div class="sanatorio">
            <div class="info">
                <h3>Sanatorio San Juan</h3>
                <p>Dirección: Av. San Martín 987, San Juan, San Juan</p>
                <p>Teléfono: (0264) 7654-3210</p>
                <p>Horario: Lunes a Sábado de 7:30 a 20:00</p>
            </div>
            <div class="imagen">
                <img src="../static/img/sanatorio3.jpg" alt="Sanatorio San Juan">
            </div>
        </div>
        <div class="sanatorio">
            <div class="info">
                <h3>Sanatorio Nuestra Señora del Rosario</h3>
                <p>Dirección: Calle Belgrano 456, Córdoba, Córdoba</p>
                <p>Teléfono: (0351) 6543-2109</p>
                <p>Horario: Lunes a Domingo de 8:00 a 22:00</p>
            </div>
            <div class="imagen">
                <img src="../static/img/sanatorio4.png" alt="Sanatorio Nuestra Señora del Rosario">
            </div>
        </div>
    </div>
    <footer class="footer">
        <a href="./terminos.html">Términos y condiciones</a>
        <a href="./preguntas.html">Preguntas Frecuentes</a>
        <a href="#">Ayuda</a>
    </footer>
    
    <!-- bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>