<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <link rel="stylesheet" href="../static/css/terminos.css">
</head>
<body>
    <header class="header">
        <nav>
            <div id="logo">
                <a href="/">
                    <img src="../static/img/logo.png" alt="logo">
                    <i class="logo"></i>
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="Nuestros_servicios.html">Nuestros Servicios</a></li>
                <li><a href="../templates/sanatorios.html" class="btn-nav">Sanatorios</a></li>
                <li><a href="#"> <span class="login-text"><i class="far fa-circle-user"></i>Iniciar Sesión</span></a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2>Términos y Condiciones</h2>
        <div class="terms">
            <p>Bienvenido a nuestra obra social. Al registrarte y utilizar nuestros servicios, aceptas los siguientes términos y condiciones:</p>
            <ul>
                <li><strong>Registro:</strong> Debes ser mayor de edad para registrarte en nuestra obra social. La información proporcionada al registrarte debe ser precisa y verídica.</li>
                <li><strong>Privacidad:</strong> Al registrarte en nuestra obra social, aceptas que podemos recopilar, almacenar y utilizar tu información personal de acuerdo con nuestra política de privacidad. Nos comprometemos a proteger la privacidad y seguridad de tus datos.</li>
                <li><strong>Comunicaciones:</strong> Al utilizar nuestros servicios, aceptas recibir comunicaciones relacionadas con la obra social, incluyendo notificaciones sobre cambios en los términos y condiciones, actualizaciones de servicios y promociones especiales.</li>
                <li><strong>Responsabilidades:</strong> Eres responsable de mantener la confidencialidad de tu cuenta y contraseña, y de todas las actividades que ocurran bajo tu cuenta. No debes compartir tus credenciales de inicio de sesión con terceros.</li>
                <li><strong>Uso adecuado:</strong> Debes utilizar nuestros servicios de manera adecuada y legal, y no debes realizar ninguna actividad que pueda dañar, deshabilitar o comprometer la integridad de nuestros sistemas.</li>
                <li><strong>Modificaciones:</strong> Nos reservamos el derecho de cambiar, modificar o actualizar estos términos y condiciones en cualquier momento. Te notificaremos sobre cualquier cambio significativo a través de nuestro sitio web o por correo electrónico.</li>
                <li><strong>Aceptación:</strong> Al hacer clic en el botón "Acepto" a continuación, confirmas que has leído, comprendido y aceptado estos términos y condiciones en su totalidad.</li>
            </ul>
            <button type="button">Acepto</button>
        </div>
    </div>
    <footer class="footer">
        <a href="./templates/terminos.html">Términos y condiciones</a>
        <a href="./templates/preguntas.html">Preguntas Frecuentes</a>
        <a href="#">Ayuda</a>
    </footer>
</body>
</html>